html, body{
  background-color: rgb(231, 231, 231);
  min-height: 100vh;
}

section.options{
  padding: 15px;
}

main{
  min-height: calc(100vh - (106px + 52px + 162px + 168px))
}

main.finalizar-compra{
  margin-top: 20px;
}

#modalSearchProduct > .modal-card{
  width: 950px;
}